.item_count {
	margin: auto;
	width: 50%;
}

.button_container {
	display: flex;
	text-align: center;
	align-items: center;
}

.button {
	margin: 5px;
	padding: 10px;
	color: white;
}

.number {
	margin: 0px;
	margin-bottom: 10 px;
}
